

body {
    display: grid;
    place-items: center; /* Centers both horizontally and vertically with one property */
    
    font-family: "Lucida Handwriting", "Lucida Calligraphy", cursive;
    background-color: #e4e4e4;
    h1 {
        font-weight: bold;    
    }


    ul {
    width: fit-content;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
    }

    li {
    float: left;
    }

    li a {
    display: block;
    color: rgb(229, 229, 229);
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-weight: bold;

    }

    li a:hover {
    background-color: #111111;
    }

    label {
        font-weight: bold;
    }

    form {
        display: grid;
        place-items: center;
    }

    input[type="text"], input[type="number"], select {
        width: 150px;
        padding: 8px;
        margin: 8px 0;
        box-sizing: border-box;
        font: inherit;
        background-color: #f2f2f2;
        
    }
    input[type="submit"] {
        background-color: #45a048;
        color: rgb(0, 0, 0);
        padding: 10px 20px;
        border: 2px solid black;
        border-radius: 12px;
        cursor: pointer;
        font: inherit;
        font-weight: bold;
    }


    button {
        background-color: #4586a0;
        color: rgb(0, 0, 0);
        padding: 10px 20px;
        border: 2px solid black;
        border-radius: 12px;
        cursor: pointer;
        font: inherit;
        font-weight: bold;
    }
}